* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  @include respond(phone) {
    font-size: 56.25%;
  }
}
body {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  position: relative;
  overflow-x: hidden;
  transition: $slow-loading;
}
